@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
a{ text-decoration:none; color:#333; font-size:14px; }
li{ list-style:none; }
.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }
img{ vertical-align:top; }
.clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }
input,select,textarea{ vertical-align:middle; outline:none; }
textarea{ resize:none; }


.wrapper{ width:970px; margin:0 auto; }
body{ color:#555; font-size:12px; }
a{ color:#555; }
i,em{ font-style:normal; }
b{ font-weight:normal; }

body{ height:2000px;}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}








































